<H2 CLASS="title">{job_id?转移任务 {job_id}:转移所有任务}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">任务 {job_id}</A>:All jobs} 转移到
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>.</P>
