<H2 CLASS="title">设置 {is_class?Class:Printer} {printer_name} 为默认</H2>

<P>{is_class?类:打印机} <A HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A> 已成为服务器上的默认打印机。</P>

<BLOCKQUOTE><B>提示:</B> 任何用户都可以通过使用 <TT>lpoptions</TT> 命令改写这个默认设置。</BLOCKQUOTE>
