{#printer_name=0?:
<TABLE CLASS="list" SUMMARY="Printer List">
<THEAD>
<TR ALIGN="CENTER"><TH>队列名称</TH><TH>描述</TH><TH>位置</TH><TH>品牌型号</TH><TH>状态</TH></TR>
</THEAD>
<TBODY>
{[printer_name]
<TR><TD><A HREF="{printer_uri_supported}">{printer_name}</A></TD><TD>{printer_info}</TD><TD>{printer_location}</TD><TD>{printer_make_and_model}</TD><TD>{printer_state=3?空闲:{printer_state=4?正在处理:已暂停}}{printer_state_message? - "{printer_state_message}":}</TD></TR>
}
</TBODY>
</TABLE></DIV>}
